
<div>
Search awards by keyword: 
</div>
<div>
<%= link_to 'View all Awards', awards_path %>
</div>

<div>
<table>
  <thead>
    <tr>
      <th>Most Recently Posted Awards</th>
    </tr>
  </thead>
  <tbody>
    <% @recent_awards.each do |award| %>
      <tr>
        <td><%= link_to award.name , award %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Show More', awards_path %>
</div>